---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="About | AnimePortraitDude">
    <Main>
        <H1 text="About AnimePortraitDude"/>             
            
        <p class="text-lg text-gray-700 leading-relaxed tracking-wide max-w-3xl mx-auto my-8">

            <span class="text-xl font-bold">This is how it all started.</span>
            
            <br />
            <br />
            
            I was learning coding and I needed to come up with a personal project. I was tired of making websites that I don't give two cents about which nobody used. 

            Then, I came across these websites that drew anime portraits and I realized that's the website I needed to make. 

            I thought what better ways to build something other than combining both of my passion that  I have for drawing and coding.

            <br />
            <br />

            Besides coding, one of the things I love the most is drawing my friends in anime style. I drew my co-worker's girlfriend and I did an anime portrait for my close friend and his fiancé. 
            
            But the one that I'm the most proud of, was the drawing I did for my wife as a wedding gift. 

            <br />
            <br />
            
            So with AnimePortraitDude, I thought I'd combine the best of the both worlds.
            
            <br />
            <br />
            
            I wanted to create something that would spark joy in other people. After all, that's why I code or draw. 
            
            So who knows what the future holds. I just needed to draw real things. Real people, real website, real business. Sparking real joy in me and other people. 
            
            I'm not sure where this journey will take us but we're in for a ride.
            Here's to AnimePortraitDude's journey. 
            <br />
            <br />
    
            Cheers,
            <br />
            <br />

            -Youngwoo
            <br />
            aka, AnimePortraitDude
            <br />
        </p>

        </div>
    </Main>
</Layout>   