---
import Layout from '../layouts/Layout.astro';
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Hero from '../components/Hero.astro';
import Products from '../components/Products.astro';

export const prerender = true;

---
<Layout title="Anime Portrait Dude">
	
	<H1 text="Transform Your Photos into Timeless Anime Portraits"/>	
	<h2>The perfect way to celebrate your love with a personal touch.</h2>




	<Main>				
		<Hero />
		<a href="/checkout" class="button">Checkout</a>

		//Add Products
		//Add How It Works
		//Add Reviews
		//Browse Gallery 
		//Footer
	</Main>
</Layout>
