---
//import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";

export const prerender = true;

---

<Layout title="Anime Portrait Dude">
	<Main>
		<H1 text="Welcome to Anime Portrait Dude"/>
		
		<a href="/checkout" class="button">Checkout</a>
	</Main>
</Layout>
