---
import { Image } from 'astro:assets';
---

<div class="grid gap-4">
  <div>
    <Image 
      class="h-auto max-w-full rounded-lg" 
      src="/Jesse.png" 
      alt="Jesse Image"
      width={1200} 
      height={800} 
    />
  </div>
  <div class="grid grid-cols-5 gap-4">
    <div>
      <Image 
        class="h-auto max-w-full rounded-lg" 
        src="/In.png" 
        alt="In Image" 
        width={600} 
        height={400} 
      />
    </div>
    <div>
      <Image 
        class="h-auto max-w-full rounded-lg" 
        src="/Daniella.jpg" 
        alt="Daniella Image" 
        width={600} 
        height={400} 
      />
    </div>
    <div>
      <Image 
        class="h-auto max-w-full rounded-lg" 
        src="/Copy.jpg" 
        alt="Copy Image" 
        width={600} 
        height={400} 
      />
    </div>
    <div>
      <Image 
        class="h-auto max-w-full rounded-lg" 
        src="/Extension.jpg" 
        alt="Extension Image" 
        width={600} 
        height={400} 
      />
    </div>
    <div>
      <Image 
        class="h-auto max-w-full rounded-lg" 
        src="/Logo.png" 
        alt="Logo Image" 
        width={600} 
        height={400} 
      />
    </div>
  </div>
</div>
