
<div class="grid gap-4">
  <div>
      <img class="h-auto max-w-full rounded-lg" src="/Jesse.png" alt="">
  </div>
  <div class="grid grid-cols-5 gap-4">
      <div>
          <img class="h-auto max-w-full rounded-lg" src="/In.png" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="/Daniella.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="Copy.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="Extension.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="Logo.png" alt="">
      </div>
  </div>
</div>