---

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
	description?: string;
	image?: string
}

const {title, description = "Anime Portrait Dude Description", image = "/images/band.jpg"} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device=width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image}/>
		<title>Astro AnimePortraitDude</title>
	</head>
	<body class="min-h-screen">
		<Hero />
		<Header />
		<slot />
		//Add HERO
		//Add Products
		//Add How It Works
		//Add Reviews
		//Browse Gallery 
		//Footer
	</body>
	<Footer />
</html>
